@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
        align-items: center;
        background-image: #131313;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blob 
{ 
  position: fixed;
  touch-action: none;
}
.blobContainer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
}
.blob1 
{ 
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}
.blob2 
{  
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}
.blob3
{  
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}